extends ../_layout
block prepend head
  - var page = 'Video'
block content
  include ../components/_nav-back
  - var page = 'Video'
  main#main(role='main')
    h2.hidden #{page}
    .container
      .row.row--middle
        .column.column--auto
          - var video = 'r-Nw7HbaeWY'
          a.share-button(href='http://www.facebook.com/sharer/sharer.php?u=https://www.youtube.com/embed/' + video, target='_blank')
            include ../../images/share.svg
            span Condividi
          .video-embed
            .video-play
              button.video-button(type='button' data-youtube=video)
                span.hidden Riproduci
                include ../../images/play.svg
            img(src='/img/video.jpg' alt='')
