extends ../_layout
block prepend head
  - var page = 'About'
block content
  include ../components/_nav-back
  - var page = 'About'
  main#main(role='main')
    h2.hidden #{page}
    .container.container--spaced
      .row
        .column.column--half
          p Fantino è un single denso che contribuisce col proprio marchio di fabbrica. Un lavoro che presenta la passione per le macchine e i giovani underground di Roma che guarda all’elettronica britannica.
          img(src='/img/capibara.jpg' alt='')
        .column.column--half
          img(src='/img/white-forest-records.jpg' alt='')
          p Fa elettronica dal 2007, dopo produzioni dance e nu disco si fregia di collaborazioni e remix per artisti italiani tra cui Meg, M+A, Go Dugong, Crema e molti altri.
        .column.column--full
          hr
        .column.column--half
          p.lead 👉 Land Ho is a creative studio with an edge: not only do we believe in what we do, we believe in the social and cultural value of our endeavours.
          p We create and build every event, every project by coupling elegance and precision, by blending formality and lightness. We are fascinated by our world and its incessant renewal and we carefully investigate the details of these continuous changes. We research new languages, experiment with new techniques and we aim to develop communication that is always in line with the times.
          a.button(href='http://landhostudio.com') Visitaci 🐯
        .column.column--half
          dl.team

            dt Produttore
            dd Stabber
            dd Capibara (Luca Albino)

            dt Produzione
            dd Land Ho

            dt Regia
            dd Daniel Bedusa
            dd Danilo Bubani

            dt Fotografia
            dd Silvia De Gregorio

            dt Operatore e colorist
            dd Mattia Tedeschi

            dt Assistente operatore
            dd Francesco Trisi

            dt Gaffer
            dd Tommaso Salvoni
            dd Francesca Cascella
            dd Alexander Piergentili
