extends ../_layout
block prepend head
  - var page = 'About'
block content
  include ../components/_nav-back
  - var page = 'About'
  main#main(role='main')
    h2.hidden #{page}
    .container.container--spaced
      .row
        .column.column--half
          p Fantino è un single denso che contribuisce col proprio marchio di fabbrica. Un lavoro che presenta la passione per le macchine e i giovani underground di Roma che guarda all’elettronica britannica.
          img(src='/img/capibara.jpg' alt='')
        .column.column--half
          img(src='/img/white-forest-records.jpg' alt='')
          p Fa elettronica dal 2007, dopo produzioni dance e nu disco si fregia di collaborazioni e remix per artisti italiani tra cui Meg, M+A, Go Dugong, Crema e molti altri.
