nav.nav(role='navigation')
  a.nav-link.nav-link--video(href='/video/') Video
  a.nav-link.nav-link--about(href='/about/') About
  a.nav-link.nav-link--bonus(href='/bonus/') Bonus
  a.nav-link.nav-link--spotify(href='spotify:album:2cv4l2iOL3XGdBJXKyRA5R') Spotify
button.button.button--nav(type='button')
  span.hidden Menu
  include ../../images/hamburger.svg
  include ../../images/close.svg
