nav.nav(role='navigation')
  a.nav-link.nav-link--video(href='/video/') Video
  a.nav-link.nav-link--about(href='/about/') About
  a.nav-link.nav-link--bonus(href='/bonus/') Bonus
  a.nav-link.nav-link--spotify(href='spotify:artist:7jLkOlp9duK58KlIvmJIo6') Spotify
button.button.button--nav(type='button')
  span.hidden Menu
  include ../../images/hamburger.svg
  include ../../images/close.svg
