nav.nav(role='navigation')
  a.nav-link.nav-link--video(href='/video/') Video
  a.nav-link.nav-link--about(href='/about/') About
  a.nav-link.nav-link--bonus(href='/bonus/') Bonus
  a.nav-link.nav-link--spotify(href='/spotify/') Spotify
button.nav-button(type='button')
  span.hidden Menu
