include includes/_vars
doctype html
html.no-js(lang='it')
  include includes/_head
  body
    include includes/_header
    include includes/_navigation
    block content
    script(src='/js/vendor.js')
    script(src='/js/main.js')
