- var title       = 'Fantino'
- var page        = 'Home'
- var description = 'Official website for Capibara’s “Fantino” single'
- var themeColor  = '#ff0071'
- var thumbnail   = '/img/thumbnail.jpg'
- var url         = 'http://fantino.landhostudio.com'
- var facebookID  = '000000000000000'
