- var title       = 'Fantino'
- var page        = 'Home'
- var description = 'Il nuovo singolo: Fantino di Capibara'
- var themeColor  = '#ff0071'
- var thumbnail   = '/img/social.jpg'
- var url         = 'http://fantino.landhostudio.com'
- var facebookID  = '000000000000000'
