extends _layout
block prepend head
  - var page = 'Home'
block content
  include components/_nav
  - var page = 'Home'
  main(role='main')
    h2.hidden #{page}
    .container
      .row
        .column.column--full
          include ../images/fantino.svg
    #canvas
