extends ../_layout
block prepend head
  - var page = 'Bonus'
block content
  include ../components/_nav-back
  - var page = 'Bonus'
  main#main(role='main')
    h2.hidden #{page}
    .container.container--spaced
      .row.row--middle

        mixin image(src,link)
          .column.column--half
            img(src=src alt='')
            a.button.button--share(href='http://www.facebook.com/sharer/sharer.php?u=https://giphy.com/gifs/' + link, target='_blank')
              include ../../images/share.svg
              span Condividi

        +image('/img/bonus-1.gif', 'ww9yN6mPpxT68')
        +image('/img/bonus-2.gif', 'aWQ1vs0IxRQ9q')
        +image('/img/bonus-3.gif', 'nqQnJIuCSZMcw')
        +image('/img/bonus-4.gif', 'aQkxES85fdLXi')
        +image('/img/bonus-5.gif', 'AeUsXC4jloc2A')
        +image('/img/bonus-6.gif', '8CmcSRtuS7cje')
