extends ../_layout
block prepend head
  - var page = 'Bonus'
block content
  include ../components/_nav-back
  - var page = 'Bonus'
  main#main(role='main')
    h2.hidden #{page}
    .container
      .row.row--middle
        .column.column--auto
          // figures mixins
