@import "vars"
@import "webfonts"
  
body
  font-family: $font-family-1
  font-weight: $font-weight-1
  background-color: $color-1
  color: $color-2

h1, h2, h3, h4, h5, h6
  font-family: $font-family-2
  font-weight: $font-weight-2
  color: $color-3
