.hidden
  position: absolute
  left: -999em

.container
  display: flex
  align-items: center
  width: em-calc(1024)
  max-width: 100%
  min-height: 100vh
  margin-left: auto
  margin-right: auto

  @include media($sm-min)
    padding-left: $padding / 3
    padding-right: $padding / 3

  @include media($md-min)
    padding-left: $padding
    padding-right: $padding

  &--spaced
    padding-top: $padding + $padding / 3
    padding-bottom: $padding + $padding / 3

    @include media($sm-min)
      padding-top: $padding * 2
      padding-bottom: $padding * 2

    @include media($md-min)
      padding-top: $padding / 1.5
      padding-bottom: $padding / 1.5

.row
  box-sizing: border-box
  display: flex
  flex: 0 1 auto
  flex-direction: row
  flex-wrap: wrap
  width: 100%

  &--middle
    align-items: center

.column
  position: relative
  box-sizing: border-box
  flex: 0 0 auto
  padding-left: $padding / 3
  padding-right: $padding / 3

  @include media($md-min)
    padding-left: $padding
    padding-right: $padding
    margin-bottom: $padding

  &--auto,
  &--half
    flex-basis: 100%
    max-width: 100%

  &--auto
    @include media($sm-min)
      flex-grow: 1
      flex-basis: 0
      max-width: 100%
  
  &--half
    @include media($sm-min)
      flex-basis: 50%
      max-width: 50%

  &--full
    flex-basis: 100%
    max-width: 100%

.button
  display: inline-block
  text-align: center
  white-space: nowrap
  padding: 0 ($padding / 1.5)
  background-color: $color-2
  background-image: none
  height: rem-calc(48)
  color: $color-3
  border: none
  border-radius: $padding
  vertical-align: middle
  cursor: pointer
  user-select: none
  touch-action: manipulation
  line-height: rem-calc(48)
  box-sizing: content-box
  outline: 0
  
  svg
    transition: transform 250ms

  &:hover
    svg
      transform: scale(1.1)
  
  &--share
    position: absolute
    top: $padding / 1.5
    right: 0
    display: flex
    padding: 0 ($padding / 1.5) 0 ($padding / 3)
    z-index: 3
    transform: scale(0.75)
    transform-origin: top right

    @include media($sm-min)
      top: $padding / 1.25
      transform: scale(1)

  &--nav,
  &--back
    position: fixed
    top: $padding / 3
    left: $padding / 3
    padding: 0
    background-color: $color-3
    color: $color-2
    z-index: 99

    @include media($sm-min)
      top: $padding / 1.5
      left: $padding / 1.5

    @include media($md-min)
      top: $padding
      left: $padding

  &--nav
    @include media($sm-min)
      display: none

    .hamburger
      @include media(max-width $sm-max)
        display: block

    .close
      @include media(max-width $sm-max)
        display: none

    &--opened
      @include media(max-width $sm-max)
        background-color: $color-2
        color: $color-3

      .hamburger
        @include media(max-width $sm-max)
          display: none

      .close
        @include media(max-width $sm-max)
          display: block

  &--play
    background-color: transparent
    height: rem-calc(96)
    width: rem-calc(96)
    color: $color-3
    border-radius: 0
    line-height: rem-calc(96)
    padding: 0

    @include media($sm-min)
      height: rem-calc(144)
      width: rem-calc(144)
      line-height: rem-calc(144)

    svg
      height: rem-calc(96)
      width: rem-calc(96)
      
      @include media($sm-min)
        height: rem-calc(144)
        width: rem-calc(144)
