html
  font-family: $font-family-1
  font-weight: $font-weight-1
  line-height: $font-line-height-1
  -webkit-font-smoothing: antialiased

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6
  font-family: $font-family-2
  font-weight: $font-weight-2
  line-height: $font-line-height-2

a
  color: currentColor
  text-decoration: none
